<style>
a {
  text-decoration: none;
  color: #333;
}
.modal-backdrop.show {
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5); /* Đặt màu nền với độ trong suốt */
}
</style>




<div class="container mt-3">
  <h2>danh sách doanh nghiệp</h2>
    
    <div class="row">
      <div class="col-md-6">
        <input type="text" id="searchInput" placeholder="Tìm kiếm..." class="form-control mt-3">
      </div>
    </div>
  </div>
  <table class="table table-hover" href="enterprises/{{this.id}}">
  <div>
          <div class="col-md-6">
        <form action="/readEnterprises" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="fileInput" class="form-label">Thêm thông tin doanh nghiệp</label>
            <input type="file" name="file" id="fileInput" class="form-control" required style="width: 100%;">
            <div class="invalid-feedback">Vui lòng chọn một tệp.</div>
          </div>
          <button type="submit" class="btn btn-primary">Tải lên</button>
        </form>
      </div>
  </div>
    <thead>
      <tr>
        <th>Tên Doanh Nghiệp</th>
        <th>Mã Doanh Nghiệp</th>
        <th>Xử Lý</th>
      </tr>
    </thead>
    <tbody>
      {{#each enterprises}}
      <tr>
        <td><p style="text-decoration" href="enterprises/{{this.id}}">{{this.name}}</p></td>
        <td>{{this.id}}</td>
        <td>
            <a href="/admin/enterprises/{{this.id}}/edit" class="btn btn-primary">Edit</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-Enterprise-modal" data-id="{{this.id}}">Delete</button>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>



<!-- Modal -->
<div class="modal fade" id="delete-Enterprise-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Delete
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="btn-delete-Enterprise">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form--}}
<form name="delete-Enterprise-form" method="POST"></form>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var deleteEnterpriseModal = document.getElementById('delete-Enterprise-modal')
    var btnDeleteEnterprise = document.getElementById('btn-delete-Enterprise')
    var deleteForm = document.forms['delete-Enterprise-form']
    var EnterpriseId

    if ( deleteEnterpriseModal) {
      deleteEnterpriseModal.addEventListener('show.bs.modal', event => {

        var button = event.relatedTarget

        EnterpriseId = button.getAttribute('data-id')

  
      })
    }
    btnDeleteEnterprise.onclick = function () {
      deleteForm.action = '/admin/enterprises/' + EnterpriseId +'?_method=DELETE'
      deleteForm.submit()
    }
  })

      const fileInput = document.getElementById('fileInput');
    fileInput.addEventListener('change', function() {
      const fileName = fileInput.value.split('\\').pop();
      alert('Đã chọn tệp: ' + fileName);
    });

   
    const form = document.querySelector('.needs-validation');
    form.addEventListener('submit', function(event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    });

  var searchInput = document.getElementById('searchInput');
  searchInput.addEventListener('input', function() {
  var input = this.value.toLowerCase();
  var keywords = input.split(" ");

  var table = document.querySelector('.table');
  var rows = table.getElementsByTagName('tr');

  for (var i = 1; i < rows.length; i++) {
    var name = rows[i].getElementsByTagName('td')[0].innerText.toLowerCase();
    var id = rows[i].getElementsByTagName('td')[1].innerText.toLowerCase();

    var match = true;
    for (var j = 0; j < keywords.length; j++) {
      if (!(name.includes(keywords[j]) || id.includes(keywords[j]))) {
        match = false;
        break;
      }
    }

    if (match) {
      rows[i].style.display = '';
    } else {
      rows[i].style.display = 'none';
    }
  }
  });
</script>