<style>
a {
  text-decoration: none;
  color: #333;
}
.modal-backdrop.show {
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5); /* Đặt màu nền với độ trong suốt */
}
</style>


<div class="container mt-3">
  <h2>Danh Sách Giảng Viên</h2>
  <table class="table table-hover" href="lecturers/{{this.id}}">
    <thead>
      <tr>
        <th>Tên Giảng Viên</th>
        <th>Mã Giảng Viên</th>
        <th>Năm Sinh</th>
        <th>Xử Lý</th>
      </tr>
    </thead>
    <tbody>
      {{#each lecturers}}
      <tr>
        <td><p style="text-decoration" href="lecturers/{{this.id}}">{{this.lastName}} {{this.firstName}}</p></td>
        <td>{{this.id}}</td>
        <td>{{this.yearOfBirth}}</td>
        <td>
            <a href="/admin/lecturers/{{this.id}}/edit" class="btn btn-primary">Edit</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-lecturer-modal" data-id="{{this.id}}">Delete</button>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>



<!-- Modal -->
<div class="modal fade" id="delete-lecturer-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Lecturer ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Delete
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="btn-delete-lecturer">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form--}}
<form name="delete-lecturer-form" method="POST"></form>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var deleteLecturerModal = document.getElementById('delete-lecturer-modal')
    var btnDeleteLecturer = document.getElementById('btn-delete-lecturer')
    var deleteForm = document.forms['delete-lecturer-form']
    var lecturerId

    if ( deleteLecturerModal) {
      deleteLecturerModal.addEventListener('show.bs.modal', event => {

        var button = event.relatedTarget

        lecturerId = button.getAttribute('data-id')

  
      })
    }
    btnDeleteLecturer.onclick = function () {
      deleteForm.action = '/admin/lecturers/' + lecturerId +'?_method=DELETE'
      deleteForm.submit()
    }
  })
</script>